.card{
  border: 1px solid #f32d2d;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ea9797;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
max-width: 60%;
max-height: 60%;
height: auto;

}

.card .card-title,.card-text {
  font-family: sans-serif,Arial;
  margin: 0;
  color: #500808;
}
.button{
  background-color: #9e3333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10%;
}