.card{
  border: 1px solid #f32d2d;
  border-radius: 10px;
  box-shadow: 5px 5px 5px #ea9797;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 250px;
  display: inline-block;
}

.card .card-image{
max-width: 60%;
max-height: 60%;
height: auto;

}

.card .card-title,.card-text {
  font-family: sans-serif,Arial;
  margin: 0;
  color: #500808;
}
.button{
  background-color: #9e3333;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 10%;
}

.student{
  border:2px solid #f32d2d;
  font-family: Arial, Helvetica, sans-serif;
  box-shadow: 5px 5px 5px #ea9797;
  font-size: 24px;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 100%;
  /* display: inline-block; */
}
.student p{
  margin: 0;
  padding: 3px;
}

.welcome-msg{
  font-size: medium;
  background-color: #2df347;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 100%;
  /* display: inline-block; */
}

.login-pmpt{
  font-size: medium;
  background-color: #d40b0b;
  color: aliceblue;
  font-family: Arial, Helvetica, sans-serif;
  padding: 20px;
  margin: 10px;
  text-align: center;
  max-width: 100%;
  /* display: inline-block; */
}